.container-login{
    background-color: lightgrey;
    width: 50%;
    padding-top: 2%;
    border-collapse: collapse;
    border-radius: 10px;
    margin-top: 10%; 
}


.buttonRegister{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: snow;
    border-radius: 5px;
}