.search-box{
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #2f3640;
	height: 43px;
	border-radius: 40px;
	padding: 1px;
}

.search-box:hover > .search-txt{
	width: 200px;
	padding: 0px, 65px;

}

.search-box:hover > .search-btn{
	background: white;
	color: rgb(8, 126, 194);
}

.search-btn{
	color: rgb(55, 215, 255);
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
}

.search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0px;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
	margin-left: 22px;
    margin-right: -22px;
    padding-bottom: 255px;
}

.alinhamento{
    margin-top: 25px;
    margin-bottom: 45px;
}


