.regTitle{
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    padding-bottom: 15px;
}

.conteudo{
    font-size: 23px;
    color: black;
    font-family: 'Courgette', cursive;
}

.labelespacamento{
    margin-right: 13px;

}