.dashboardGraphics{
    background: rgb(236, 236, 236);
    color: black;
    padding:2% 0 2% 0; 
    border-top:7px solid rgb(2, 79, 114); 
    margin-top: 15px;
    padding: 25px;
    padding-bottom: 35px;
    size: 50%;
    border-radius: 5px;
    box-shadow: 0px 2px 11px 3px #b9b7b7;
}


.titulo{
    font-family: 'Poiret One', cursive;
    text-align: center;
    color: black;
}

.subtitulo{
    font-size: 14px;
    color: black;
    font-family: 'Courgette', cursive;
}

.p-progressbar-determinate{

}