div#top{
    margin-bottom: 60px;
}

.navbar-inverse {
    background-color:black;
    border-color: black;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

body a {
    color: #00510F;
    text-decoration: none;
}

body a:hover {
    color: #00510F;
}