.botaoAlterar{
    background-color: rgb(3, 146, 10);
    color: white;
}

.titulo{
    font-family: 'Poiret One', cursive;
    font-size: 30px;
}

.conteudo{
    font-family: 'Courgette', cursive;
    font-size: 15px;
}

.containerprincipal{
    border-top:7px solid rgb(2, 79, 114); 
    background: #e8e8e8;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 11px 3px #b9b7b7;
}